.buttons-container {
  position: absolute;
  bottom: 25px;
  right: 20px;
  z-index: 1;
}

.mini-buttons-container {
  margin-bottom:25px;
  transition: height 1s ease;
}

.buttons-button {
  display: block !important;
  margin-top: 10px;
}

.buttons-button-mini {
  margin:7px;
  margin-top:15px;
}

.buttons-button-my-location {
  background-color: white !important;
}

.buttons-my-location-loading {
  margin-top: -5px !important;
  margin-left: -10px !important;
}

.buttons-container > span {
  font-size: 14px !important;
  font-weight: 300;
}

@media (max-width: 450px) {

  .buttons-container > span {
    font-size: 14px !important;
    font-weight: 300;
    height: auto !important;
    margin: 10px !important;
    bottom: 0 !important;
    line-height: 30px !important;
    text-align: center;
  }

  .buttons-container > span > button {
    float: none !important;
    margin: 0 !important;
  }

}
