@import (inline) 'reset.css';
@import (inline) 'typeahead.css';
@import (inline) 'easy-button.css';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import (inline) 'RedigerObjekt.css';
html, body {
  font-family: 'Roboto', sans-serif;
}
strong {
  font-weight: 700;
}
#kart {
.target {
  font-size: 1.2em
}
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#sok {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  margin: 10px;
  max-width: 400px;
}
#rediger-vegobjekt {
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  margin: 10px;
  max-width: 500px;
  display: none;
}
