@import (inline) 'reset.css';
@import (inline) 'search.css';
@import (inline) 'editor.css';
@import (inline) 'list.css';
@import (inline) 'buttons.css';
@import (inline) 'edit-geometry.css';

html, body {
  font-family: 'Roboto', sans-serif;
}
strong {
  font-weight: 500;
}
.kart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.leaflet-control-locate {
  display: none;
}
