@import (inline) 'reset.css';
@import (inline) 'react-select.css';
@import (inline) 'easy-button.css';
@import (inline) 'material-design-typography.css';
@import (inline) 'RedigerObjekt.css';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body {
  font-family: 'Roboto', sans-serif;
}

#kart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#sok {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  margin: 10px;
  max-width: 500px;
}

.target {font-size:1.5em}

#rediger-vegobjekt {
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  margin: 10px;
  max-width: 500px;
  background-color: white;
  overflow: auto;
}
