/* Containers og meta */
.Editor {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  top: 62px;
  margin: 10px;
  max-width: 500px;
  pointer-events: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.Editor-inactive {
  top: auto;
  z-index: 20;
  max-height: 50px;
  max-width: 240px;
}
.Editor-inactive-pos-0 {
}
.Editor-inactive-pos-1 {
  left: 250px;
}
.Editor-inactive-pos-2 {
  left: 500px;
}
.Editor-inactive-pos-3 {
  left: 750px;
}
.Editor-inactive .Editor-Card {
  min-height: 10px;
}
.Editor-other-inactive {
  margin-bottom: 60px;
}
.Editor-Visible-Hidden {
  visibility: hidden;
  margin-left: -600px;
  margin-right: 600px;
}
.Editor-Card {
  overflow: auto !important;
  min-height: 100px;
  max-height: 200px;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
  pointer-events: auto;
}
.Editor-Card, .Editor-Card > div:first-child {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.Editor-Card-loader {
  min-height: 100px;
  max-height: 300px;
}
.Editor-Card-loaded {
  max-height: 100%;
}
.Editor-loader {
  margin: 50px auto !important;
  display: inherit;
}
.Editor-minimized-status {
  padding: 5px !important;
}
.Editor-CardTitle, .Editor-knapp-container {
  flex-shrink: 0;
}
.Editor-CardText {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}
.Editor-hidden {
  display: none !important;
}
.Editor-pointer {
  cursor: pointer;
}
.Editor-lukk {
  margin-top: 5px;
  cursor: pointer;
  position: absolute;
  right: 6px;
  background-color: white;
  opacity: 1;
  transition: all 50ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.Editor-lukk-hidden {
  opacity: 0;
}
.Editor-lukk i {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 0 !important;
}
.Editor-knapp-container {
  margin-top: 5px;
  text-align: right;
}
.Editor-viktighetContainer {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 15px;
}
.Editor-viktighet {
  font-size: 10px;
  float: right;
  margin: 8px;
  letter-spacing: 1px;
}
.Editor-viktighet-1, .Editor-viktighet-2 {
  color: #D0021B;
}
.Editor-viktighet-3 {
  color: orange;
}
.Editor-viktighet-4 {
  color: blue;
}
.Editor-beskrivelse {
  color: #999;
}
.Editor-beskrivelseTekst {
  font-size: 13px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.5);
}
.Editor-tomKnapp {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  opacity: 0.25;
  position: absolute;
  right: 8px;
  top: 39px;
}
.Editor-tomKnappSkjul {
  display: none;
}
.Editor-tomKnapp i {
  font-size: 18px;
}

/* Components */

.Editor-enum, .Editor-tekst, .Editor-tall, .Editor-klokkeslett {
  position: relative;
  min-height: 100px;
  margin-bottom: 30px;
}
.Editor-klokkeslett {
  box-sizing: content-box;
}
.Editor-timePicker {
  width: 100% !important;
  margin-top: 22px;
}
.Editor-datePickerContainer, .Editor-timePickerContainer {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 72px;
  display: inline-block;
  position: relative;
  font-family: Roboto, sans-serif;
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.Editor-datePicker {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  width: 100% !important;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  font: inherit;
  box-sizing: border-box;
  margin-top: 23px;
}
.Editor-etikett {
  position: absolute;
  line-height: 48px;
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 22px;
  transform: perspective(1px) scale(0.75) translate3d(0, -18px, 0);
  transform-origin: left top;
}
.Editor-selectField > div:nth-of-type(2) > div {
  overflow: scroll;
}

.Editor-permanentEtikett > label:first-child, .Editor-enum label {
  color: rgba(0, 0, 0, 0.5) !important;
  transform: perspective(1px) scale(0.75) translate3d(0, -18px, 0) !important;
}
.Editor-endretVerdi > hr:last-of-type, .Editor-endretVerdi ~ hr:last-of-type {
  transform: scaleX(1) !important;
}
.Editor-feilmelding > div:last-of-type {
  position: relative !important;
  bottom: 2px !important;
}
.Editor-enum .Editor-selectField.Editor-feilmelding ~ div {
  position:relative !important;
  margin-top: 22px !important;
}
