/* Containers og meta */

.list {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  margin: 11px;
  max-width: 498px;
  pointer-events: none;
}

.list-card {
  overflow: auto !important;
  max-height: 1px;
  opacity: 0;
  text-align: center;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  box-sizing: border-box;
  pointer-events: auto;
  text-align: left;
}
.list-card-open {
  max-height: 100%;
  opacity: 1;
}
.list-loader {
  margin-top: 100px !important;
  display: inherit;
}
.list-container {
  text-align: left;
  padding: 5px;
  overflow: auto !important;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}
.list-container > div {
  padding-bottom: 5px !important;
}
.list-lukk {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
.list-lukk i {
  margin-right: 0 !important;
  color: rgba(0, 0, 0, 0.5);
}
.list-knapp-container {
  margin-top: 20px;
  text-align: right;
}

.list-extra-egenskap-choser {
  text-align: right;
}

.list-extra-egenskap-choser > div {
  text-align: left;
}

.list-extra-egenskap-choser-icon {
  display: inline-block;
  vertical-align: middle;
}

.list-element {
  position: relative;
  padding:10px 0 9px;
  border-bottom: 1px solid #e6e6e6;
}

.list-element-container a {
  border-bottom: 1px solid #eee !important;
}

.list-element-container div:last-child a {
  border-bottom: 0 !important;
}


.list-element:hover {
  background-color:#ebf2fe;
}

.list-vegref, .heading-vegref {
  display: inline-block;
  font-size: 14px;
}

.heading-vegref {
  margin-top: 5px;
}

.list-extra-egenskap, .heading-extra-egenskap {
  float: right;
  font-size: 14px;
}

.heading-extra-egenskap {
  cursor: pointer;
  user-select: none;
}

.material-icons.list-keyboard-arrow-down {
  top: 17px;
  color: rgba(0, 0, 0, .40) !important;
}

.list-toolbar-dropdown div:last-child {
  z-index: 10 !important;
}
