/* Containers og meta */

.RedigerObjekt-Card {
  height: 100%;
  text-align: center;
}
.RedigerObjekt-loader {
  margin-top: 100px !important;
  display: inherit;
}
.RedigerObjekt-container {
  text-align: left;
  padding: 5px;
  overflow: auto !important;
  bottom: 0;
  position: absolute;
  width: 100%;
  top: 0;
  max-width: 500px;
  box-sizing: border-box;
}
.RedigerObjekt-container-loader {
  text-align: center;
}
.RedigerObjekt-lukk {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
.RedigerObjekt-lukk i {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 0 !important;
}
.RedigerObjekt-knapp-container {
  margin-top: 20px;
  text-align: right;
}
.RedigerObjekt-viktighetContainer {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 15px;
}
.RedigerObjekt-viktighet {
  font-size: 10px;
  float: right;
  margin: 8px;
  letter-spacing: 1px;
}
.RedigerObjekt-viktighet-1, .RedigerObjekt-viktighet-2 {
  color: #D0021B;
}
.RedigerObjekt-viktighet-3 {
  color: orange;
}
.RedigerObjekt-viktighet-4 {
  color: blue;
}
.RedigerObjekt-beskrivelse {
  color: #999;
}
.RedigerObjekt-beskrivelseTekst {
  font-size: 13px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.5);
}
.RedigerObjekt-tomKnapp {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  opacity: 0.25;
  position: absolute;
  right: 8px;
  top: 39px;
}
.RedigerObjekt-tomKnappSkjul {
  display: none;
}
.RedigerObjekt-tomKnapp i {
  font-size: 18px;
}

/* Components */

.RedigerObjekt-enum, .RedigerObjekt-tekst, .RedigerObjekt-tall, .RedigerObjekt-klokkeslett {
  position: relative;
  min-height: 100px;
  margin-bottom: 30px;
}
.RedigerObjekt-klokkeslett {
  box-sizing: content-box;
}
.RedigerObjekt-timePicker {
  width: 100% !important;
  margin-top: 22px;
}
.RedigerObjekt-datePickerContainer, .RedigerObjekt-timePickerContainer {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 72px;
  display: inline-block;
  position: relative;
  font-family: Roboto, sans-serif;
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.RedigerObjekt-datePicker {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  width: 100% !important;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  font: inherit;
  box-sizing: border-box;
  margin-top: 23px;
}
.RedigerObjekt-etikett {
  position: absolute;
  line-height: 48px;
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 22px;
  transform: perspective(1px) scale(0.75) translate3d(0, -18px, 0);
  transform-origin: left top;
}
.RedigerObjekt-permanentEtikett > label:first-child {
  color: rgba(0, 0, 0, 0.5) !important;
  transform: perspective(1px) scale(0.75) translate3d(0, -18px, 0) !important;
}
.RedigerObjekt-endretVerdi > hr:last-of-type {
  transform: scaleX(1) !important;
}
.RedigerObjekt-feilmelding > div:last-of-type {
  position: relative !important;
  bottom: 2px !important;
}
